.homepage {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  padding-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .homepage {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1100px) {
  .homepage {
    padding: 0 2.5rem;
  }
}
