.button-login {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;

  border-radius: 999px;
  border: none;
  outline: none;

  background-color: #ff4a52;
  padding: 1rem 1.8rem;
}
