@import "../../scss/variables.scss";
header {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 1);
  padding: 3rem 0;
}
.header {
  width: $widthPrimary;
  margin: auto;
  margin-top: 7vh;
  position: relative;
  border-bottom: 1px solid #989898;
  @include flex(row, space-between, center);
  &__network {
    display: flex;
    a {
      text-decoration: none;
      color: rgba($color: #ffffff, $alpha: 0.7);
      font-size: 1.8rem;
      margin-right: 1.5rem;
      transition: all 0.4s ease;
      &:hover {
        color: #ff4a52;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
    @include flex(row, space-around, center);
  }
}
@media screen and (max-width: 650px) {
  .header {
    &__network {
      display: none;
    }
  }
}
