@import "../../../scss/variables.scss";
.header__search {
  color: #fff;
  font-size: 2.2rem;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .header__search--form {
    cursor: pointer;
    margin-right: 0.5rem;
  }

  .fa-shopping-bag {
    cursor: pointer;
    transition: all 0.4s ease;
    padding-left: 1rem;
    border-left: solid 1px;
    &:hover {
      color: $redColor;
    }
    // &:hover ~ .cart {
    //   transform: rotateX(0deg);
    //   opacity: 1;
    //   display: block;
    // }
  }
}
